<li>
	<span class="beacon_id">
		<%= ibeacon.beacon_id %>
	</span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(ibeacon.created_at) %> ago. 
	</span>
	<span class="image1">
		<%= image_tag ibeacon.image1_url(:thumb) if ibeacon.image1?  %>  
	</span>
	
	<% if current_user?(ibeacon.user) %>
		<%= link_to "delete", ibeacon, method: :delete,
								confirm: "You sure?",
								title: ibeacon.beacon_id %>
	<% end %>
</li>